.novideo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.novideo-container img{
    max-height: 600px;
}
.novideo-container h3{
    color: white;
}
.description-container{
    padding-bottom: 50px;
}